# ignore 'ProjectVersion.txt' to avoid unity freezing bug
ProjectSettings/ProjectVersion.txt
.build_script/**
node_modules/**
artifacts/**
Build/**
build/**
build_dir/**
temp/**
temp_dir/**
Library/**
upm-ci~/**
ValidationSuiteResults/**
Logs/**
.idea/**
*.sln
Unity.**.csproj
.DS_Store
.npmrc
!Documentation~
!.Documentation
*.tgz
*.orig
*.vs/
obj/**
*.csproj
package-lock.json
.Editor/**
automation/**
Packages/manifest.json
Packages/manifest.json
